.i3-ww-ci__passphrase {
  width: 85vw;
  @media screen and (min-width: $tablet-portrait-width) {
    input {
      width: 50vw;
    }
  }
  .i3-ww-ci__passphrase-content-description1--bold {
    font-weight: bold;
  }
  .i3-ww-ci__passphrase-inputs {
    .i3-ww-input {
      margin-bottom: 3%;
    }
  }
  .i3-ww-ci__passphrase--masked {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }
  /* from iPhone 4 screens 320px until 479px */
  @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width - 1px) {
    .i3-ww-step__content-description2 {
      display: none;
    }
  }
  .i3-ww-ci__buttons {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    /* from iPhone 4 screens 320px until 479px */
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width - 1px) {
      flex-direction: row;
      align-items: center;
    }
  }
}