.i3-ww-input {
  input {
    border-radius: 28px;
    height: 50px;
    background: $input-bg-color;
    border: none;
    color: $input-color;
  }
  .ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child {
    cursor: pointer;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 28px;
    color: $input-color;
    background: $input-bg-color;
    border-color: $input-bg-color;
  };
}

.i3-ww-input--error {
  input {
    border: $input-error-border-color 2px solid;
  }
}