.i3-ww-welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  color: $white;
  .i3-ww-step__buttons {
    padding-top: 30px;
  }
  /* from iPhone 4 screens 320px until 479px */
  @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width - 1px) {
    .i3-ww-step__buttons {
      padding-top: 0;
    }
  }
}