.i3-ww-widget__header {
  background: $widget-header-bg-color;
  border-bottom: 1px $widget-header-border-color solid;
  max-height: 60px;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  align-items: center;
  -webkit-align-items: center; /* Safari. Chrome, Android, iOS */
  justify-content: space-between;
  -webkit-justify-content: space-between;  /* Safari. Chrome, Android, iOS */
  .i3-ww-widget__header-title {
    font-size: $widget-header-title;
    margin-left: 2%;
  }
  .i3-ww-widget__header-buttons-area {
    font-size: $widget-header-subtitle;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    button, a {
      background: transparent;
      border: transparent;
      color: $app-bg-color;
    }
    .i3-ww-widget__header-buttons-area--separator {
      border-left: 1px $widget-header-border-color solid;
      height: $widget-header-height;
      width: 1vw;
      margin-left: 2vh;
    }
  }
}