.i3-ww-dashboard {
  flex: 1;
  margin-top: 20px;
  .i3-ww-claims {
    width: inherit;
    .i3-ww-claims-list {
      width: inherit;
    }
  }
  .i3-ww-dashboard__notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
}
