//
// App
//

* {
  -webkit-font-smoothing: antialiased; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -moz-osx-font-smoothing: grayscale; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  text-rendering: optimizeLegibility; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100%;
  //font-family: Barlow Regular, Lato, sans-serif !important;
  //font-size: 18px;
  font-family: Barlow Light, Lato, sans-serif;
  $map: ($large-desktop-width: $app-regular-large-desktop-fs,
          $desktop-width: $app-regular-desktop-fs,
          $tablet-landscape-width: $app-regular-tablet-landscape-fs,
          $tablet-portrait-width: $app-regular-tablet-portrait-fs,
          $mobile-max-width: $app-regular-mobile-fs,
          $small-mobile-min-width: $app-regular-small-fs);
  @include fluid-sizing('font-size', $map, false);
  background-color: $app-bg-color;
  #i3-ww-root {
    position: relative;
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden;
  }
}