//
// App
//

* {
  -webkit-font-smoothing: antialiased; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -moz-osx-font-smoothing: grayscale; // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  text-rendering: optimizeLegibility; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Barlow Light, Lato, sans-serif !important;
  font-size: $app-regular-fs;
  background-color: $app-bg-color;
  #i3-ww-root {
    position: relative;
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden;
  }
}
