// blacks
$black-100: #000000;

// whites
$white: #FFFFFF;

// blues
$blue-10: #09d2ec;
$blue-20: #2b90d7;
$blue-30: #265390;
$blue-40: #1d3564;

// purples
$purple: #674be3;

// reds
$red: #f95555;

// greys
$grey-9: #E5E5E5;
$grey-23: #CCCCCC;
$grey-52: #999999;
$grey-70: #777777;
$grey-100: #424242;