$black: #000000;

$white-10: #FAFAFA;
$white-20: #F5F5F5;
$white-100: #FFFFFF;

$blue-10: #E7F8FF;
$blue-40: #B0EAFF;
$blue-75: #61D5FF;
$blue-90: #2EC7FF;
$blue-100: #15C1FF;

$green-10: #ECF9F5;
$green-40: #B7E9D8;
$green-75: #78D7B6;
$green-90: #5CCEA6;
$green-100: #4AC99D;

$grey-9: #E5E5E5;
$grey-23: #CCCCCC;
$grey-52: #999999;
$grey-70: #777777;
$grey-100: #424242;

$navy-35: #AEB6BE;
$navy-57: #828D99;
$navy-88: #465665;
$navy-97: #39495D;
$navy-100: #2C3E50;

$orange-10: #FFF6EA;
$orange-40: #FFDFAC;
$orange-75: #FFC364;
$orange-90: #FFB644;
$orange-100: #FFAE30;

$red-10:#FDEBEB;
$red-40:#FAB4B6;
$red-75:#F6696D;
$red-90:#F55156;
$red-100:#F3393E;
