.i3-ww-identity-row {
  height: rem(91px);
  border-radius: $border-row-radius;
  color: $identities-row-color;
  .i3-ww-row__main-content {
    display: flex !important;
    justify-content: center !important;
    width: 100%;
    .i3-ww-identity-row__change-identity {
      cursor: pointer;
      margin-left: auto;
      margin-right: 10%;
    }
  }
  .i3-ww-identity-row__initial-content {
    display: flex;
    align-items: center;
    height: inherit;
    color: $claim-row-color;
  }
  .i3-ww-identity-row__main-content {
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .i3-ww-identity-row__final-content {
    height: inherit;
    display: flex;
    align-items: center;
  }
  .i3-ww-identity-row__description {
    padding-left: 10px;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
  .i3-ww-row__collapsible-content--visible {
    margin-top: -3px;
  }
  .i3-ww-radio-button {
    padding-left: 20px;
  }
  .i3-ww-identity-row__select-identity {
    outline: none;
  }
}

.i3-ww-identity-row__main-content--current-user {
  background: $identities-row-bg-current-user !important;
  color: $identities-row-color-current-user;
  .i3-ww-identity-row__description {
    font-weight: bold;
  }
}

.i3-ww-identity-row__main-content--current-user-tag {
  border: 1px white solid;
  padding: 0px 5px;
  border-radius: 3px;
  color: $identities-row-bg-current-user;
  background: white;
  margin: 2% 2% auto auto;
}
