@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.i3-ww-spinner {
  width: rem(20px);
  height: rem(20px);
  border-radius: 100%;
  border: 2px solid $white-100;
  border-bottom-color: transparent !important;
  animation: spinner 0.75s 0s infinite linear;
  vertical-align: middle;
  display: inline-block;
}
