.i3-ww-widget {
  background: transparent;
  color: $app-bg-color;
  border-color: 1px $app-bg-color solid;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}