.i3-ww-claims{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  .i3-ww-claims__drop-down {
    display: flex;
    padding-bottom: 17px;
    .i3-ww-drop-down {
      margin-left: auto;
    }
  }
}

.i3-ww-claims__create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .i3-ww-claims__create-text {
    padding: 50px 10px;
  }
  .i3-ww-claims__create-area-text {
    width: 100%;
    padding: 0 10px 35px 10px;
    text-align: center;
  }
  .i3-ww-claims__create-button {
    display: flex;
    .i3-ww-button {
      margin: auto;
    }
  }
}
