.i3-ww-ci__passphrase {
  .i3-ww-ci__passphrase-content-description1--bold {
    font-weight: bold;
  }
  .i3-ww-ci__input-wrapper {
    padding-bottom: 10px;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
