.i3-ww-layout {
  display: flex;
  height: 100vh; // to fit height to the screen size
  flex-direction: column;
  //override ant styles
  .ant-layout-header {
    padding: 0;
    $map: ($desktop-width: 1240px,
            $tablet-landscape-width: 350px,
            $tablet-portrait-width: 350px,
            $mobile-max-width: 256px,
            $small-mobile-min-width: 256px,
    );
    @include fluid-sizing('width', $map, true);
  }
  .ant-layout-footer {
    z-index: -1;
  }
  .i3-ww-header {
    flex: none;
    z-index: $header-z-index;
    display: table;
  }
  .i3-ww-header__no-nav-bar {
    height: 104px;
    display: flex;
  }
  .i3-ww-content {
    z-index: $main-content-z-index;
    flex: 1 0 auto;
    background-image: url($app-bg-gradient);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}