.i3-ww-layout {
  display: flex;
  //min-height: 100vh;
  @include with-tablet-landscape-width {
    height: 100vh;
  }
  @include with-small-mobile-width {
    height: 100%;
  }
  flex-direction: column;
  //override ant styles
  .ant-layout-header {
    padding: 0;
    //background: $nav-bar-bg-color;
    height: $app-header-height;
    $map: ($desktop-width: 1240px,
            $tablet-landscape-width: 350px,
            $tablet-portrait-width: 350px,
            $mobile-max-width: 256px,
            $small-mobile-min-width: 256px,
    );
    @include fluid-sizing('width', $map, true);
  }
  .ant-layout-footer {
    z-index: -1;
  }
  .i3-ww-header {
    flex: none;
    z-index: $header-z-index;
  }
  .i3-ww-content {
    z-index: $main-content-z-index;
    flex: 1 0 auto;
    /*background: rgba(246,246,246,1);
    background: -moz-linear-gradient(-45deg, rgba(246,246,246,1) 0%, rgba(15,202,235,1) 0%, rgba(101,78,227,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(0%, rgba(15,202,235,1)), color-stop(100%, rgba(101,78,227,1)));
    background: -webkit-linear-gradient(-45deg, rgba(246,246,246,1) 0%, rgba(15,202,235,1) 0%, rgba(101,78,227,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(246,246,246,1) 0%, rgba(15,202,235,1) 0%, rgba(101,78,227,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(246,246,246,1) 0%, rgba(15,202,235,1) 0%, rgba(101,78,227,1) 100%);
    background: linear-gradient(135deg, rgba(246,246,246,1) 0%, rgba(15,202,235,1) 0%, rgba(101,78,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#654ee3', GradientType=1 );*/
    background-image: url($app-bg-gradient);
  }
  .i3-ww-footer {
    margin: 0;
    z-index: $footer-z-index;
  }
}
