.i3-ww-layout {
  display: flex;
  min-height: 100vh; // to fit height to the screen size
  flex-direction: column;
  .ant-layout-footer {
    z-index: -1;
  }
  .i3-ww-header {
    flex: none;
    z-index: $header-z-index;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    line-height: normal;
  }
  .i3-ww-header__no-nav-bar {
    height: 75px;
    display: flex;
  }
  .i3-ww-content {
    z-index: $main-content-z-index;
    flex: 1 0 auto;
    background-image: url($app-bg-gradient);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}