.i3-ww-box__header {
  color: $app-font-color;
  background:$box-bg-color;
  border-bottom: 1px $box-header-border-color solid;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  align-items: center;
  -webkit-align-items: center; /* Safari. Chrome, Android, iOS */
  justify-content: space-between;
  -webkit-justify-content: space-between;  /* Safari. Chrome, Android, iOS */
  .i3-ww-box__header-title {
    font-size: $widget-header-title;
    margin-left: 5%;
  }
  .i3-ww-box__header-buttons-area {
    border-left: 1px $box-header-border-color solid;
    margin-right: 1%;
    button {
      background: transparent;
      border: none;
      color: $app-font-color;
    }
  }
}
