.i3-ww-nav-bar {
  font-size: $nav-bar-fs;
  height: 75px;
  display: block;
  -webkit-display: block;
  -moz-display: block;
  -ms-display: block;
  -o-display: block;
  .ant-menu {
    font-size: inherit;
    background: transparent;
    color: $nav-bar-item-color;
    //line-height: $nav-bar-item-height;
    .ant-menu-item, a {
      color: $nav-bar-item-color;
      transition: unset;
    }
    .ant-menu-item-selected {
      background: transparent;
      color: $nav-bar-selected-item-color;
    }
    .ant-menu-item:hover, .ant-menu-submenu:hover, .ant-menu-item:active {
      background: transparent;
      color: $nav-bar-hover-item-color;
    }
  }

  .i3-ww-nav-bar__header-items {
    background: #0f9fbf; /* Old browsers */
    background: -moz-linear-gradient(left, #0f9fbf 0%, #346abc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f9fbf 0%,#346abc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f9fbf 0%,#346abc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f9fbf', endColorstr='#346abc',GradientType=1 ); /* IE6-9 */
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    height: inherit;
    margin-left: inherit;
    align-items: center;
    .ant-menu-item-selected {
      vertical-align: top;
      a {
        color: $nav-bar-selected-item-color;
      }
    }
  }
}
