.i3-ww-ssw__show-qr {
  .i3-ww-ssw__master-seed-qr {
    svg {
      width: 85%;
    }
  }

  .i3-ww-ssc__master-seed-title {
    color: black;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }
  .i3-ww-ssw__master-seed {

    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .i3-ww-ssw__master-seed-and-words {
    background: $qr-code-background;
    padding: 30px 0;
  }
  .i3-ww-ssw__identity-address {
    color: black;
    padding: 30px 15px;
    font-weight: bold;
    word-break: break-all;
  }
}
