.i3-ww-chip {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 13px;
  border-radius: 16px;
  background-color: $chip-bg-color;
  margin: 5px 5px; 
  display: inline-block;
  outline: none;
}